

#Header {
    clear:both;
    width:800px;
    margin: 0 auto;
    padding:0;
    text-align: center;
    border: none;
}


#tabmenu {
    color: #000;
    border-bottom: 2px solid black;
    margin: 12px 0px 0px 0px;
    padding: 0px;
    z-index: 1;
    padding-left: 10px }

#tabmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none; }

#tabmenu a, a.active {
   /* color: #09F;
    background: #09F;
*/
    border: 2px solid black;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none; }

#tabmenu a.active {
    background: #FFF;
    border-bottom: 3px solid #FFF; }

#tabmenu a:hover {
    color: #fff;
    background: #ADC09F;
    background-color: #54aefa;
}

#tabmenu a:visited {
    color: #E8E9BE;
}

#tabmenu a.active:hover {
    background: #fff;
    color: #DEDECF; }

#content {
    text-align: justify;

    padding: 20px;
    border-top: 2px solid black;
    border-top: none;
    z-index: 2;	}

#content a {
    text-decoration: none;
    color: #E8E9BE; }

#content a:hover { background: #898B5E; }


#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}
