<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
</head>

<body onload="document.civigform.fullName.focus()">
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="/passrest/"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">
<form id="civigform" name="emailcform" action="/fgpass/" method="POST">

<div class="Section">
<h1 class="center">Email Confirmation</h1>
        <fieldset>
	    <div>
		Your password as it has been encrypted in our database and we cannot retrieve it for you. 
		However, you can request a new one which will be activated in 
		the same way as this account. In order to do so we need your email to be confirmed.
	    </div>
          <div>
		<label for="">Email:</label> <input type="text" id="" name="userEmail" class="width250" />
		<center><div style="color: red"> {{ error }} </div></center>
		<center><script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Ldfk7oSAAAAAEjQwFgRS8NRxSoeSsz3ELZxUsuK"></script> <noscript>  <iframe src="http://api.recaptcha.net/noscript?k=6Ldfk7oSAAAAAEjQwFgRS8NRxSoeSsz3ELZxUsuK" height="300" width="500" frameborder="0"></iframe><br />  <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>  <input type='hidden' name='recaptcha_response_field' value='manual_challenge' /> </noscript></center>              
    	  </div>
        </fieldset>
</div>

</div>
      <fieldset>
      <div class="center">
      <INPUT TYPE="image" SRC="/images/submit-btn.png" ALT="Submit">
      </div>
      </fieldset>

       </form>
	   </div>

    <div id="Footer">

    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>