<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
<script src="/scripts/twitter.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
			getTwitters('civiTweets', {
				id: 'civiguard',
				prefix: '<img height="16" width="16" src="%profile_image_url%" align="left" />',
				clearContents: true, // leave the original message in place
				count: 3,
				withFriends: true,
				ignoreReplies: true,
				newwindow: true
			});
        </script>
</head>
<body>
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header"> <a href="http://www.civiguard.me/"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
      </div>
       <div id="Wrap">
       <h1 class="center">Emergency Communication 2.0</h1>
       <div id="ColLeft2">
             <h2>It's an emergency</h2>
       
       <a href="/getupdates/"><img src="/images/getupdates-btn.png" height="80" width="275" alt="Resend Code" /></a>

       
       </div>
       <div id="ColRight2">
      

      <h2>Get me CiviGuarded!</h2>
       
          
      <a href="/signup/"><img src="/images/signup-btn.png" height="80" width="275" alt="Continue" /></a>     
        
      </div>
      </div>
  
 
  <div id="Twitter"><h3>Twitter Updates</h3></div>
  <div id="civiTweets" class="twitters">
    	
    	<p>Please wait while our tweets load... <img src="/images/indicator.gif" /></p>
        <p><a href="http://twitter.com/civiguard">www.twitter.com/civiguard</a></p>
  </div>  
	
  <div id="Footer">
    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>