<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
    <script src="/scripts/jquery-1.4.2.js"></script>
    <link rel="stylesheet" href="/css/validationEngine.jquery.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <script src="/scripts/jquery.validationEngine-en.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validationEngine.js" type="text/javascript"></script>
<script  type="text/javascript">
            $(document).ready(function() {
                // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() },

                $("#resetform").validationEngine()

            });
</script>
</head>

    <!-- AJAX SUCCESS TEST FONCTION
			<script>function callSuccessFunction(){alert("success executed")}
					function callFailFunction(){alert("fail executed")}
			</script>
    -->

<body onload="document.civigform.fullName.focus()">
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="/passrest/"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">
<form id="resetform" name="resetform" action="/resetpassword/" method="POST">

<div class="Section">
<h1 class="center">Reset Password</h1>
        <fieldset>
          <div>
            <label for="">New Password:</label> <input name="password" type="password"  class="width250 validate[required,length[6,11]]" id="password" />
    	  </div>
          <div>
            <label for="">Confirm New Password:</label> <input name="password2" type="password"  id="idpassword2"  class="width250 validate[required,confirm[password]]"/>
          </div>
	   <div>
		<input name="reqval" type="hidden"  value="{{ req_val }}"/>
	   </div>
        </fieldset>
</div>

</div>
      <fieldset>
      <div class="center">
      <INPUT TYPE="image" SRC="/images/submit-btn.png" ALT="Submit">
      </div>
      </fieldset>

       </form>
	   </div>

    <div id="Footer">

    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>