<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
</head>
<body>
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="http://www.civiguard.me/"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">
<form action="/save-form/" method="POST">
<div class="Section">
<h1 class="center">Summary</h1>
        <fieldset>
          <div>
            <label for="">Name:</label> {{ name }} <input type="hidden" id="" name="fullName" class="width250" value="{{ name }}" readonly />
    	  </div>
          <div>
            <label for="">Email:</label> {{ email }} <input type="hidden" id="" name="emailAdd" class="width250" value="{{ email }}" readonly />
    	  </div>
          <div>
            <label for="">Password:</label> ******* <input type="hidden" id="" name="password" class="width250" value="****" readonly/>
    	  </div>
          <div>
            <label for="">Confirm Password:</label> ******* <input type="hidden" id="" name="password2" class="width250" value="{{ password2 }}" readonly/>
          </div>
          <div>
            <label for=""><input type="hidden" id="" name="region" class="width250" value="{{ rg }}" readonly/>
          </div>	    
          <div>
            <label for="">Mobile Number:</label> {{ phone }} <input type="hidden" id="" name="cellPhone" class="width250" value="{{ phone }}" readonly/>
    	  </div> 
          <div>
            <label for="">Phone Type:</label> {{ pt }}<input type="hidden" id="" name="phoneType" class="width250" value="{{ pt }}" readonly/>
          </div>                                               
        </fieldset>
</div>
<div class="Section">   
        <fieldset>
          <div>
            <label for="">Terms of Service:</label><textarea rows="8" class="width300" readonly>CiviGuard, Inc does not provide liability insurance for the protection of individuals, groups, organizations, businesses, or others who may participate in the use of the CiviGuard website, any product offered therein, or any version of the CiviGuard service, including standard SMS and mobile device services, as well as any version of the CiviGuard downloadable applications.

In consideration for your use of the CiviGuard website, any product offered therein, or any version of the CiviGuard service, including standard SMS service, as well as any version of the CiviGuard downloadable application, the individual, group, organization, business, or other, does hereby release and forever discharge CiviGuard, Inc, and its officers, board, and employees, jointly and severally from any and all actions, causes of actions, claims and demands for, upon or by reason of any damage, loss or injury, which hereafter may be sustained through the use of the CiviGuard website, any product offered therein, or any version of the CiviGuard service, including standard SMS and mobile device services, as well as any version of the CiviGuard downloadable applications.

This release extends and applies to, and also covers and includes, all unknown, unforeseen, unanticipated and unsuspected injuries, damages, loss and liability and the consequences thereof, as well as those now disclosed and known to exist. The provisions of any state, federal, local or territorial law or state providing substance that releases shall not extend to claims, demands, injuries, or damages which are known or unsuspected to exist at this time, to the person executing such release, are hereby expressly waived.

I hereby agree on behalf of my heirs, executors, administrators, and assigns, to indemnify CiviGuard, Inc and its officers, board and employees, joint and severally from any and all actions, causes of actions, claims and demands for, upon or by reason of any damage, loss or injury, which hereafter may be sustained by the use of the CiviGuard website, any product offered therein, or any version of the CiviGuard service, including standard SMS and mobile device services, as well as any version of the CiviGuard downloadable applications.

It is further understood and agreed that the use of the CiviGuard website, any product offered therein, or any version of the CiviGuard service,  including standard SMS and mobile device services, as well as any version of the CiviGuard downloadable applications, is not to be construed as an admission of any liability and acceptance of assumption of responsibility by CiviGuard, Inc, its officers, board, and employees, jointly and severally, for all damages and expenses for which CiviGuard, Inc., its officers, board and employees, become liable as a result of any alleged act of the end user.

IN ADDITION, BY USING THE CiviGuard WEBSITE OR ANY VERSION OF THE CiviGuard SERVICE,  INCLUDING THE STANDARD SMS AND MOBILE DEVICE SERVICE, AS WELL AS ANY VERSION OF THE CiviGuard DOWNLOADABLE APPLICATIONS, YOU AGREE TO ASSUME ALL RISKS ASSOCIATED WITH YOUR USE OR TRANSFER OF ANY AND ALL INFORMATION CONTAINED THEREIN TO HOLD CiviGuard, Inc HARMLESS FROM ANY CLAIMS RELATING TO CONTENT OR INFORMATION.

THE CiviGuard WEBSITE OR ANY VERSION OF THE CiviGuard SERVICE, INCLUDING THE STANDARD SMS SERVICE AND MOBILE DEVICE SERVICE, AS WELL AS ANY VERSION OF THE CiviGuard DOWNLOADABLE APPLICATION, ITS CONTENTS, OR THE INFORMATION DERIVED THEREFROM IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. CiviGuard, INC MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE MATERIAL, SERVICES, SOFTWARE, TEXT, GRAPHICS, AND LINKS. DESCRIPTION OF, OR REFERENCES TO, PRODUCTS OR PUBLICATIONS DOES NOT IMPLY ENDORSEMENT OF THAT PRODUCT OR PUBLICATION.

CiviGuard, INC DOES NOT WARRANT THAT THE CiviGuard WEBSITE OR ANY VERSION OF THE CiviGuard SERVICE, INCLUDING THE STANDARD SMS SERVICE AND MOBILE DEVICE SERVICE, AS WELL AS ANY VERSION OF THE CiviGuard DOWNLOADABLE APPLICATION, WILL OPERATE ERROR-FREE OR THAT THIS SITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OR TRANSFER OF THE CiviGuard WEBSITE OR ANY VERSION OF THE CiviGuard SERVICE, INCLUDING THE STANDARD SMS SERVICE, AS WELL AS ANY VERSION OF THE CiviGuard DOWNLOADABLE APPLICATION, OR THE INFORMATION CONTAINED THEREIN RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, CiviGuard, INC IS NOT RESPONSIBLE FOR THOSE COSTS.
</textarea>
    	  </div> 
          <div>
            <label for="">Consent:</label>I agree to the Terms of Service.
    	  </div>      
          <div>
            <label for="">&nbsp;</label>I consent to sharing the location of my connected device ONLY during 
	     <label for="">&nbsp</label>emergencies.
    	  </div>                                                                                                   
	  </fieldset>
</div>
      
      <fieldset>
      <div class="center">
    
      <INPUT TYPE="image" SRC="/images/submit-btn.png" ALT="Submit Form">
      </div>
      </fieldset>

       </form>
	   </div>
    
    <div id="Footer">
    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>