<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection, print">
</head>
<body>
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="index.html"><img src="img/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">
<form action="">
<div class="Section">
<h1 class="center">Sign Up</h1>
        <fieldset>
          <div>
            <label for="">Name:</label> <input name="" type="text" class="width250" id="" value="John Q Public" />
    	  </div>
          <div>
            <label for="">Email:</label> <input name="" type="text" class="width250" id="" value="jqpub@email.com" />
    	  </div>
          <div>
            <label for="">Password:</label> <input name="" type="text" class="width250" id="" />
    	  </div>
          <div>
            <label for="">Confirm Password:</label>
            <input name="input" type="text" class="width250" id="input" />
          </div>    
          <div>
            <label for="">Mobile Number:</label> <input name="" type="text" class="width250" id="" value="555-555-5555" />
    	  </div> 
          <div>
            <label for="">Phone Type:</label>
                <input name="phonetype" type="radio" class="radio" id="RadioGroup1_0" value="radio" checked="checked" />iPhone
                <input type="radio" name="phonetype" value="radio" id="RadioGroup1_1" class="radio" />Android
                <input type="radio" name="phonetype" value="radio" id="RadioGroup1_2" class="radio" />BlackBerry
          </div>                                               
        </fieldset>
</div>
<div class="Section">   
        <fieldset>
          <div>
            <label for="">Terms of Service:</label><textarea rows="8" class="width300">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
    	  </div> 
          <div>
            <label for="">Consent:</label><input name="" type="checkbox" class="checkbox" value="" checked="checked" />I agree to the Terms of Service.
    	  </div>      
          <div>
            <label for="">&nbsp;</label><input name="" type="checkbox"  class="checkbox" value="" checked="checked"/>I consent to sharing the location of my connected device.
    	  </div>                                                                                                   
	  </fieldset>
</div>
<div class="Section">
 	  <fieldset>
         
        <div>
          <label for="">Name on Card:</label> <input name="" type="text" class="width250" id="" />
    	  </div>     
        <div>
          <label for="">Credit Card Number:</label> <input type="text" id="" name="" class="width250" />
    	  </div>
        <div>
          <label for="">Expiration Date:</label><select name="">
            <option>Select</option>
            <option>Month</option>
          </select><select name="">
            <option>Select</option>
            <option>Year</option>
          </select>
        </div> 
        <div>
          <label for="">CSV:</label> <input name="" type="text" class="width40" id="" />
    	  </div>            
      
      </fieldset>        
</div>   

      
      <fieldset>
      <div>
      <label for="">&nbsp;</label>
      <a href="signup2.html"><img src="img/proceed-btn.png" width="275" height="80" alt="Proceed to Summary" /></a> 
      </div>
      </fieldset>

       </form>
	   </div>
    
    <div id="Footer">
    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>