<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
</head>
<body>
<form name="civigform" id="civigform" action="" method="POST">
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="http://www.civiguard.me/"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">


<h1 class="center">Verification</h1>
        <div class="section-content">
        <div style="color: red"> {{ error }} </div>
        <p>Please go to the Home page <a href="http://www.civiguard.me">Home</a></p><br />
	 <p>Contact us for further support and clarifications <a href="mailto:support@civiguard.com">support@civiguard.com</a></p>	 
	 <input name="val" type="hidden" value="aaa"/>
       	</div>
      <fieldset>
      <div class="center">
      <INPUT TYPE="image" SRC="/images/sendcode-btn.png" ALT="Submit" />
      </div>
      </fieldset>
</form>
       
	   </div>
    
    <div id="Footer">
    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>