<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
</head>
<body>
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="index.html"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">
        <h1 class="center">Social Networking</h1>
        <div class="section-content">
        <p>Explanation of the value of linking your social network accounts to your CiviGuard account...</p>
        </div>
	 </div>
     <div id="social-connect" class="center"><a href="#"> {% include "fblogin.html" %}</a>
      </div>
     <div id="social-bypass" class="center">

         <input name="" type="checkbox" value="" class="checkbox" />Bypass Facebook setup

     </div>
<div id="social-connect" class="center"> <a href="#"><img src="/images/tw-btn.png" width="200" height="57" alt="Twitter" /></a></div>
     <div id="social-bypass" class="center">

         <input name="" type="checkbox" value="" class="checkbox" />Bypass Twitter setup

     </div>

	  <div class="center">
      <a href="#"><img src="/images/continue-btn.png" alt="Continue" /></a>
      </div>
  

       
  </div>

    
    <div id="Footer">
    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>