<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>CiviGuard, Inc.</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
</head>
<body>
<div id="Container">
    <div id="Content">
       <div id="Nav"><a href="http://www.civiguard.com">CiviGuard.com&nbsp;&raquo;</a></div>
       <div id="Header">
       		<a href="http://www.civiguard.me/"><img src="/images/logo.png" alt="CiviGuard Logo" /></a>
       </div>
       <div id="Wrap">


<h1 class="center">Thank You</h1>
        <div class="section-content">
        <p>Thanks for registering to get our updates</p>
        <p>From now onwards you will receive updates about our latest emergency alerts, disaster news etc.<br />
          if you face any trouble receiving any updates please contact us through <a href="mailto:support@civiguard.com">support@civiguard.com</a></p>
       	</div>
      <fieldset>
      <div class="center">
      </div>
      </fieldset>

       
	   </div>
    
    <div id="Footer">
    	<p>Copyright &copy; 2010 CiviGuard, Inc. All rights reserved.</p>
</div>
</div>
</body>
</html>